.order-book {
  padding: 12px;
  min-width: 300px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.order-book h3 {
  text-align: center;
}

.order-book-tables {
  display: flex;
  justify-content: space-evenly;
  gap: 12px;
}

.order-side {
  width: fill;
}

.order-side table {
  width: 100%;
  border-collapse: collapse;
}

.order-side th, .order-side td {
  padding: 4px;
  text-align: right;
  /* border-bottom: 1px solid #ddd; */
}
.sell-side th,
.sell-side td,
.sell-title {
  color: red;
  text-align: center;
  margin: 0;
}

.buy-side th,
.buy-side td,
.buy-title {
  color: green;
  text-align: center;
  margin: 0;
}